// Color Pallet
$lighter-color: #CAD2C5;
$light-color: #84A98C;
$base-color: #52796F;
$dark-color: #354F52;
$darker-color: #2F3E46;

// Patten
$white: #fff;
$black: #000;

// Succes
$success-light: #88dd90;
$success-color: #73D87D;
$success-dark: #60d26b
;

// Decline
$decline-light: #F65555;
$decline-color: #F54747;
$decline-dark: #f53d3d;